#!/bin/bash


install_dir=${HOME}/.dev-environment
install_file=${install_dir}/transh.sh

function uninstall()
{
    sed -i "/alias rm='${install_file}'/d" ~/.bashrc
    rm ${install_file} -rf
}

function install()
{
    uninstall
    mkdir -p ${install_dir}
    cp trash.sh ${install_file}
    echo "alias rm='${install_file}'" >> ~/.bashrc
}

function main()
{
    if [[ $# -ne 1 ]]; then
        echo "Usage: $0 [install|uninstall]"
        exit
    fi

    case $1 in
        'install')
            echo 'init trash'
            install
            ;;

        'uninstall')
            echo 'uninstall screen'
            uninstall
            ;;

        *)
            echo "unknown command $1, Usage: $0 [install|uninstall]"
            ;;
    esac
    echo "done"
}

main $@
