#!/bin/bash

bash_file=$HOME/.bashrc

install_dir=$HOME/.dir-tag
dir_tag_tool_file=$install_dir/tag-tool.sh
dir_tag_command_file=$install_dir/command.sh
dir_tag_cmmand_complete_file=$install_dir/command-complete.sh

function uninstall()
{
    rm ${install_dir} -rf
    sed -i "/source ${dir_tag_command_file}/d" ${bash_file}
    sed -i "/source ${dir_tag_cmmand_complete_file}/d" ${bash_file}
}

function install()
{
    uninstall

    cp dir-tag ${install_dir} -rf
    echo "export DIRTAG_TOOL_PATH=${dir_tag_tool_file}" >> ${bash_file}
    echo "source ${dir_tag_command_file}"               >> ${bash_file}
    echo "source ${dir_tag_cmmand_complete_file}"       >> ${bash_file}
}

function main()
{
    if [[ $# -ne 1 ]]; then
        echo "Usage: $0 [install|uninstall]"
        exit
    fi

    case $1 in
        'install')
            echo 'init dir-tag'
            install
            ;;

        'uninstall')
            echo 'uninstall dir-tag'
            uninstall
            ;;

        *)
            echo "unknown command $1, Usage: $0 [install|uninstall]"
            ;;
    esac
    echo "done"
    echo "please relogin to make it work"
}

main $@
